node_modules
.history
.vscode/
coverage
.nyc_output
danfojs/data
.DS_Store
.idea/
dist/
tsconfig.tsbuildinfo
yarn-error
yarn.lock
package-lock.json
packages/datacook/package-lock.json
packages/datacook-lite/package-lock.json
*.log
*.tgz
