node_modules
.vscode/
coverage
.nyc_output
danfojs/data
.DS_Store
.idea/
tsconfig.tsbuildinfo
index.html
yarn-error
yarn.lock
*.log
test/
src/
*.tgz
.history
.github
Makefile
.eslintrc.js
.eslintignore
karma.conf.js
webpack.config.js
tsconfig.json
dist/web
